#comicData a {
    text-decoration: none;
}

#comicData #comicImage {
    position: relative;
    padding: 0;
    height: 800px;
    width: 500px;
    background-color: #FFFFFF;
}

#comicData article {
    padding: 0 200px;
}

#comicData #comicImage img {
    position: absolute;
    z-index: 1;
}

#comicImage #prevPage {
    display: block;
    position: absolute;
    z-index: 2;
    left: -100px;
    width: 100px;
    height: 100%;
    font-size: 0;
}

#comicImage .link {
    width: 100%;
    height: 100%;
	opacity: 0.25;
}

#comicImage #prevPage .link {
    background: transparent url('/comic/template_images/left_arrow.png') no-repeat center center;
}

#comicImage  .link:hover {
    opacity: 1;
}

#comicImage #nextPage {
    display: block;
    position: absolute;
    z-index: 2;
    right: -100px;
    width: 100px;
    height: 100%;
    font-size: 0;
}

#comicImage #nextPage .link  {
    background: transparent url('/comic/template_images/right_arrow.png') no-repeat center center;
}

#comicImage #firstPage {
    display: block;
    position: absolute;
    left: -200px;
    width: 100px;
    height: 100%;
    font-size: 0;
}

#comicImage #firstPage .link {
    background: transparent url('/comic/template_images/first_arrow.png') no-repeat center center;
    opacity: 0.25;
}

#comicImage #firstPage .link:hover {
    opacity: 1;
}

#comicImage #latestPage {
    display: block;
    position: absolute;
    right: -200px;
    width: 100px;
    height: 100%;
    font-size: 0;
}

#comicImage #latestPage .link {
    background: transparent url('/comic/template_images/latest_arrow.png') no-repeat center center;
    opacity: 0.25;
}

#comicImage #latestPage .link:hover {
    opacity: 1;
}

#comicImage .loading {
    display: block;
    position: absolute;
    left: 35%;
    top: 48%;
    z-index: 4;
    font-size: 20pt;
    color: #000000;
    background: #E9E9E9 url('/comic/template_images/ajax-loader.gif') no-repeat 7% 50%;
    border-style: none;
    border-radius: 1em;
    padding: 0.25em 0.5em 0.25em 1.5em;
    box-shadow: -0.25em 0.25em 0.25em #808080;
}

#comicTags {
    list-style: none;
    margin: 0;
    padding: 0;
}

#comicTags li, #comicTags lh {
    display: inline;
    margin: 0 0.25em
}

#comments {
    margin: 0 3em;
    padding: 1em 0;
}

#comments p {
    margin: 0;
    padding: 0;
}

#social {
    padding: 0 3em 1em;
}
