{% extends "panels/panels.html" %}
{% load staticfiles %}
{% block js_includes %}
{{ block.super }}
    <script src = "{% static "js/archive.js" %}" type = "text/javascript"></script>
{% endblock %}
{% block css_includes %}
{{ block.super }}
    <link rel = "stylesheet" href = "{% static "css/archive.css" %}" />
{% endblock %}
{% block css %}
    <style>
    #tagHeader {
    {% if filtered_for_tag %}
        display: inline;
    {% else %}
        display: none;
    {% endif %}
    }
    </style>
{% endblock %}
{% block content %}
    <section id = "pageList" class = "contentBox">
        <header>
            <h1>Archives<span id = "tagHeader"> for <span id = "currentTag">{{ selected_tag }}</span></span></h1>
        </header>
        <article>
            <ul>
            {% for page in pages %}
                <li><a href = "{{ page.get_absolute_url|escape }}" title = "{{ page.list_date.date }}">{{ page.title|escape }}</a></li>
            {% endfor %}
            </ul>
        </article>
    </section>
    
    <section id = "tagCloud" class = "contentBox">
        <header>
            <h1>Tags</h1>
        </header>
        {% if display_tagtype_selector %}
        <p id = "tagTypeSelector">
            <label for = "tagTypeList">Tag type:</label>
            <select id = "tagTypeList">
                <option value = "">all</option>
            {% for tag_type in tag_types %}
                <option>{{ tag_type.name|escape }}</option>
            {% endfor %}
            </select>
        </p>
        {% endif %}
        
        <ul id = "tagList">
        {% for tag in all_tags %}
            <li class = "tag {{ tag.object.tag_type.name|escape }} magnitude-{{ tag.magnitude}}{% if tag.object.name == selected_tag %} selected{% endif %}"><a href = "/archive/{{ tag.object.name|escape }}/">{{ tag.object.name|escape }}</a></li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}
